@import "../core/global";
@import "../core/grid";

@import "../core/iconfont";
@import "../core/iconSvg";
@import "../core/button";
@import "../components/baseList";
@import "../core/form"; 
@import "../core/badge"; 
@import "../core/page";
@import "../components/navigation";
@import "../components/tabbar";

.row{margin-bottom:10px;}
.searchBar{margin-bottom:10px;}
.iconSwitch,
.iconCheckbox,
.iconRadio{margin-right:10px;}
.textareaView{margin-top:10px;}