/**
* button
*/
$btnWidth:   pxToRem(75px)!default;
$btnHeight:  pxToRem(26px)!default;
$btnBRadius: pxToRem(3px)!default;
$button: $button;
$btnIcon : "iconFont" ;
$btnRoundWidth:   pxToEm(22px)!default;
$btnRoundHeight:  pxToEm(22px)!default;
$btnRoundFont:    pxToRem(16px)!default;
$btnRoundIconFont:pxToEm(8px)!default;

[class^="#{$button}"]{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
.#{$button}{
  display: inline-block;
  box-sizing:border-box;
  padding: 0;
  min-width: $btnWidth;
  height: $btnHeight;
  line-height:$btnHeight;
  font-size:$font13;
  border-radius: $btnBRadius;
  text-align: center;
  outline: 0;
  &.#{$button}-block{
    width: 100%;
    display: block;
  }
}
.#{$button}-round{
  display: inline-block;
  box-sizing:border-box;
  border-radius: 50%;
  width: $btnRoundWidth;
  height: $btnRoundHeight;
  font-size: $btnRoundFont;
  position: relative;
  &:active{
    .#{$btnIcon}{
      opacity: 0.6;
    }
  }
  .#{$btnIcon}{
    font-size: $btnRoundIconFont;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:#fff;
  }
}

@mixin btn($color,$color-bg,$btn-bd-w,$btn-bd-c,$color-at,$color-bg-at,$btn-bd-at) {  
  color: $color;
  background: $color-bg;
  @include border(border,$btn-bd-w,solid,$btn-bd-c);
  &:active{
        background: $color-bg-at;
        border-color: $btn-bd-at;
        color:$color-at;
    }
}
/*按钮名称 文字色 背景色 边框大小 边框颜色 激活文字色 激活背景色 激活边框*/
$btn-types: (
  (primary #0076FF  transparent  1px #0076FF #fff #0076FF #0076FF)
  (green  #fff #4cd864  0 transparent  #fff #4cd864  transparent)
  (blue  #fff #0076FF  0 transparent  #fff #0076FF  transparent)
  (red  #fff #FE3824  0 transparent  #fff #FE3824  transparent)
  (gray #fff #ccc  0 transparent  #fff #ccc  transparent)
) !default;

@each $btn-type in $btn-types {
  $type:  nth($btn-type, 1);
  $color: nth($btn-type, 2);
  $color-bg: nth($btn-type, 3);
  $btn-bd-w: nth($btn-type, 4);
  $btn-bd-c: nth($btn-type, 5);
  $color-at: nth($btn-type, 6);
  $color-bg-at: nth($btn-type, 7);
  $btn-bd-at: nth($btn-type, 8); 
  .#{$button}-#{$type} {
    @include btn($color,$color-bg,$btn-bd-w,$btn-bd-c,$color-at,$color-bg-at,$btn-bd-at);
    &:disabled,
    &.#{$button}-disabled{
      color: rgba($color,.3);
    }
    &:disabled,
    &.#{$button}-disabled{
      &:active{
        background: $color-bg;
        border-color: $btn-bd-c;
      }
    }
  }
}

/*text colors*/
$cl-a : #FE3824;
$cl-b : #0076FF;

$white-types:(
  (red $cl-a)
  (blue $cl-b)
)!default;

@each $white-type in $white-types {
  $type:  nth($white-type, 1);
  $color: nth($white-type, 2);
  .#{$button}-primary{
    &.#{$button}-text-#{$type}{
      color: $color;
    }
  }
}