/**
 * button
 */
 $button:"m-btn";
 $f14 : pxToRem(14px);
 $front-icon-font : "m-font" ;
 /*Colors*/
$cl-a : #333;
$cl-b : #636363;
$cl-c : #939393;
$cl-l : #507DAF;
$cl-y : #FF8200;
$cl-r : #e14123;
$cl-o : #F46200;
$cl-w : #FFF;
$cl-g : #10B524;

 [class^="#{$button}"]{
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 }
 .#{$button}{
    text-align: center;
    line-height:pxToRem(40px);
    height: pxToRem(40px);
    font-size:$f14;
    border-radius: pxToRem(3px);
    outline: 0;
    display: inline-block;
    min-width: pxToRem(70px);
    box-sizing:border-box;
    padding: 0;
    &.#{$button}-block{
      width: 100%;
      display: block;
    }
}
.#{$button}-round{
  display: inline-block;
  box-sizing:border-box;
  border-radius: 50%;
  width: pxToEm(10px);
  height: pxToEm(10px);
  font-size: (18/10)*1rem;
  position: relative;
  &:active{
    .#{$front-icon-font}{
      opacity: 0.6;
    }
  }
  .#{$front-icon-font}{
    font-size: pxToEm(6px);
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:#fff;
  }
}
.#{$button}-large{
  font-size: (22/10)*1rem;
}
.#{$button}-media {
  font-size: (34/10)*1rem;
  box-shadow: 0 0 3px 0 rgba(black,.2);
  .#{$front-icon-font}{
     font-size: pxToEm(4px);
  }
  .#{$front-icon-font}-play{
    margin-left:pxToEm(2px);
  }
  &:active{
    .#{$front-icon-font}{
      opacity: 1;
    }
  }
}
@mixin btn($color,$color-bg,$btn-bd-w,$btn-bd-c,$color-at,$btn-bd-at) {  
  color: $color;
  background: $color-bg;
  @include border(border,$btn-bd-w,solid,$btn-bd-c);
  &:active{
        background: $color-at;
        border-color: $btn-bd-at;
    }
}
/*按钮名称 文字色 背景色 边框大小 边框颜色 激活色 激活边框*/
$btn-types: (
  (red  #fff  linear-gradient(to bottom, #f73b3b 0%,#f83232 100%) 0 transparent   linear-gradient(to bottom, #d93434 0%,#d92b2b 100%)  transparent)
  (green  #fff  linear-gradient(to bottom, #18b52a 0%,#10b524 100%)  0 transparent   linear-gradient(to bottom, #149623 0%,#0e961e 100%)  transparent)
  (orange  #fff  linear-gradient(to bottom, #ff890a 0%,#ff8200 100%)  0 transparent   linear-gradient(to bottom, #e07809 0%,#e07400 100%)  transparent)
  (blue  #fff  linear-gradient(to bottom, #1a90ff 0%,#108cff 100%)  0 transparent   linear-gradient(to bottom, #167fe0 0%,#0d7ae0 100%) transparent )
  (white  #787878  linear-gradient(to bottom, #ffffff 0%,#fafafa 100%)  1px #ccc   linear-gradient(to bottom, #e0e0e0 0%,#dbdbdb 100%)  #adadad)
  (ltgreen #fff #29c944 0 transparent #1f9733 #1f9733)
  (ltred #fff #ef3f1e 0 transparent #b32f16 #b32f16)
  (bdgreen #fff #29c944 1px #fff #1f9733 #bfbfbf)
  (gray #fff #797979 0 transparent #bdbdbd #bdbdbd )
  (mblack #fff rgba(black,0.3) pxToRem(1px) #fff rgba(black,0.3) #fff )
  (myellow #fff #faa247 1px #fff #faa247 #fff )
) !default;

@each $btn-type in $btn-types {
  $type:  nth($btn-type, 1);
  $color: nth($btn-type, 2);
  $color-bg: nth($btn-type, 3);
  $btn-bd-w: nth($btn-type, 4);
  $btn-bd-c: nth($btn-type, 5);
  $color-at: nth($btn-type, 6);
  $btn-bd-at: nth($btn-type, 7); 
  .#{$button}-#{$type} {
    @include btn($color,$color-bg,$btn-bd-w,$btn-bd-c,$color-at,$btn-bd-at);
    &:disabled,
    &.#{$button}-disabled{
      color: rgba($color,.3);
    }
    &:disabled,
    &.#{$button}-disabled{
      &:active{
        background: $color-bg;
        border-color: $btn-bd-c;
      }
    }
  }
}

$white-types:(
  (orange $cl-y)
  (green $cl-g)
  (red $cl-r)
  (blue #108cff)
)!default;

@each $white-type in $white-types {
  $type:  nth($white-type, 1);
  $color: nth($white-type, 2);
  .#{$button}-white{
    &.#{$button}-text-#{$type}{
      color: $color;
    }
  }
}

.#{$button}-bdgreen {
  .#{$front-icon-font} {
    font-size: pxToEm(7px)
  }
}
.#{$button}-gray {
  font-size: (16/10)*1rem;
}