/*字体----------------------------------------------------- */
$fontSize:          16px !default;
@function pxToRem($px) {
  @return $px / $fontSize * 1rem;
}
@function pxToEm($px) {
  @return $px / $fontSize * 1em;
}

$fontFilePath:      "../../iconfont/cocofont";
$svgSpritPath:      "../../images/sprite";
$preIconFont:       "iconFont";     
$button:             "btn";

$fontFamily:        "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif !default;
$font11:            pxToRem(11px);
$font12:            pxToRem(12px);
$font13:            pxToRem(13px);
$font14:            pxToRem(14px);
$font15:            pxToRem(15px);
$font16:            pxToRem(16px);
$font17:            pxToRem(17px);
$font20:            pxToRem(20px);
$font22:            pxToRem(22px);
$font28:            pxToRem(28px);

//颜色：背景色，文本色，边框色，链接色 ----------------------------------------------------- 
$colorText:          #030303 !default;
$colorSubText:       #8F8E94 !default;
$colorBgPanel:       #fff !default;
$colorBarBg:         #fff !default;
$colorBg:            #efeff4 !default;
$colorBorder:        #dbdbdb !default;
$baseIconFontColor:  #8F8E94 !default;
$colorLink:          #0076FF !default;
$colorPlaceholder:   #c7c7cd !default; // input placeholder color
$colorDisabled:      #c3c3c4 !default;
$colorOverlay:       rgba(0,0,0,.7) !default; // 遮罩层颜色
$colorWarn:          #FE3824;
$colorWhite:         #fff;
$color3:             #333;
$color6:             #666;
$color9:             #999;
$color0:             #000;

// header,footer等的高度 ----------------------------------------------------- 
$barHeight:           pxToRem(44px) !default;
$tabBarHeight:        pxToRem(49px) !default;

// 元素上下间距 ----------------------------------------------------- 
$gap:                 pxToRem(10px) !default;
$mainGap:             $barHeight    !default;

// radius ----------------------------------------------------- 
$radiusBase:          pxToRem(5px) !default;
 
//z-index ----------------------------------------------------- 
$zIndexHeader:        1000 !default;
$zIndexFooter:        1000 !default;
$zIndexPopup:         2000 !default;                     
$zIndexOverlay:       3000 !default; // 默认高于header和footer部分
$zIndexContent:       4000 !default; 
$zIndexNavAction:     999 !default; 