/*字体控制*/
$fontSize:          16px !default;
@function pxToRem($px) {
  @return $px / $fontSize * 1rem;
}
@function pxToEm($px) {
  @return $px / $fontSize * 1em;
}
$fontFamily:        "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif !default;

$font12:            pxToRem(12px);
$font13:            pxToRem(13px);
$font14:            pxToRem(14px);
$font17:            pxToRem(17px);

// 背景色，文本色，边框色，链接色 ----------------------------------------------------- 
$colorText:          #333 !default;
$colorBgPanel:       #fff !default;
$colorBg:            #fff !default;
$colorBorder:        #dbdbdb !default;
$baseIconFontColor:   #0076FF !default;
$colorLink:          #0076FF !default;
$colorPlaceholder:   #999 !default; // input placeholder color
$colorDisabled:      (text: #999, bg: #e3e3e3, border: #dbdbdb) !default; // textColor bgColor borderColor
$colorOverlay:        rgba(0,0,0,.7) !default; // 遮罩层颜色
$color3:              #333;
$color6:              #666;
$color9:              #999;
$color0:              #000;

// 元素上下间距 ----------------------------------------------------- 
$gap:                 pxToRem(10px) !default;

// header,footer等的高度 ----------------------------------------------------- 
$barHeight:           pxToRem(44px) !default;
$tabBarHeight:        pxToRem(49px) !default;
// radius ----------------------------------------------------- 
$radiusBase:          pxToRem(5px) !default;
 
//z-index ----------------------------------------------------- 
$zIndexHeader:        1000 !default;
$zIndexFooter:        1000 !default;
$zIndexPopup:         2000 !default;                     
$zIndexOverlay:       3000 !default; // 默认高于header和footer部分
