/**
 * form
 */
$switchWidth: pxToEm(51px);
$switchHeight: pxToEm(31px);
$switchDotWidth: pxToEm(28px);
$switchDotHeight: pxToEm(28px);
$switchRadius: pxToEm(16px);
$switchLeftGap: pxToEm(22px);
$switchBgColor: #44db5e;

$checkboxWidth: pxToEm(18px);
$checkboxHeight: pxToEm(18px);
$checkboxFont: pxToRem(16px);
$checkboxBdColor: #44db5e;
$checkboxIconColor: #44db5e;
$checkboxIconFont: pxToEm(8px);

$radioWidth: pxToEm(20px);
$radioHeight: pxToEm(20px);
$radioDotColor: #44db5e;
$radioDotWidth: pxToEm(12px);
$radioDotHeight: pxToEm(12px);

$searchInputWidth: pxToRem(356px);
$searchInputHeight: pxToRem(29px);
$searchInputGap: pxToRem(8px);
$searchInputBgColor: rgba(0,0,0,0.3);
$searchInputRadius: pxToRem(6px);
$searchInputTextColor: #fff;
$searchInputTextGap: pxToRem(20px);
$searchActionColor: $colorLink;
$searchActionWidth: pxToRem(53px);
$searchActionHeight: pxToRem(22px);
$searchActionGap: pxToRem(10px);
$searchIconGap: pxToRem(8px);
$searchIconClor : #fff;
$searchHolderTextColor: #fff;

.iconSwitch{
    display: inline-block;
    position: relative;
    cursor: pointer;
    user-select: none;
    span {
        position: relative;
        display: inline-block;
        box-sizing:border-box;
        vertical-align: middle;
        width: $switchWidth;
        height: $switchHeight;
        background: #fff;
        box-shadow:inset 0 0 0 pxToEm(1.5px) #ebebeb;
        border-radius: $switchRadius;
        transition: all 0.3s cubic-bezier(.17,.67,.43,.98);
        &:after{
            position: absolute;
            content: '';
            width: $switchDotWidth;
            height: $switchDotHeight;
            border-radius: 50%;
            top:0;
            left: 0;
            background: #fff;
            box-shadow: inset 0 0  pxToEm(2px) pxToEm(-1px) rgba(0,0,0,0.8),
                        0 pxToEm(1px) pxToEm(1px) pxToEm(.5px) rgba(0,0,0,0.1),
                        0 pxToEm(3px) pxToEm(1px) pxToEm(.5px) rgba(0,0,0,0.15),
                        0 pxToEm(5px) pxToEm(5px) 0 rgba(0,0,0,0.1);
            transition: all 0.2s linear;
        }
    }
    input[type="checkbox"]{
        opacity: 0;
        position: absolute;
        &:checked{
            + span {
                box-shadow: inset 0 0 0 pxToEm(20px) $switchBgColor;
                &:after{
                    left:$switchLeftGap;
                }
            }
        }
    }
}
.iconCheckbox {
    display: inline-block;
    font-size: $checkboxFont;
    position: relative;
    span{
        position:relative;
        box-sizing:border-box;
        display: inline-block;
        @include border(border,1px,solid,$checkboxBdColor);
        background: #fff;
        width: $checkboxWidth;
        height: $checkboxHeight;
        line-height: $checkboxHeight;
        margin: 0;
        text-align:center;
        overflow: hidden;
        vertical-align: middle;
    }
    input[type="checkbox"]{
        opacity: 0;
        position: absolute;
        &:checked{
            + span{
                .#{$preIconFont}{
                    display: inline-block;
                }
            }
        }
    }
    .#{$preIconFont}{
        display: none;
        font-size: $checkboxIconFont;
        color: $checkboxIconColor;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
.iconRadio{
    display: inline-block;
    position: relative;
    input[type="radio"]{
        opacity: 0;
        position: absolute;
        &:checked{
            +span{
                &:after{
                    display: inline-block;
                }
            }
        }
    }
    span{
        position: relative;
        box-sizing:border-box;
        display: inline-block;
        vertical-align: middle;
        width: $radioWidth;
        height: $radioHeight;
        @include border(border,1px,solid,#ccc);
        background: #fff;
        border-radius: 50%;
        &:after{
            content: "";
            display: none;
            border-radius: 50%;
            background: $radioDotColor;
            position: absolute;
            width: $radioDotWidth;
            height: $radioDotHeight;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
}

.searchBar{
    position: relative;
    @include flexContent(row,nowrap,space-between,center);
    .#{$preIconFont}{
        display: none;
        position: absolute;
        top:50%;
        -webkit-transform:translateY(-50%);
        left: $searchIconGap;
        color: $searchIconClor;
        font-size: $font13;
    }
    input[type="search"]{
        @include flexItem;
        width: $searchInputWidth;
        height: $searchInputHeight;
        line-height: $searchInputHeight;
        padding: $searchInputGap;
        border: none;
        border-radius: $searchInputRadius;
        background: $searchInputBgColor;
        font-size: $font14;
        text-align:center;
        color: $searchInputTextColor;
    }
    input[type="search"]::-webkit-input-placeholder{ 
        font-family: '#{$fontFamilyName}';
        color:$searchHolderTextColor;
    }
    .actionBtn{
        flex:none;
        display:none;
        margin-left: $searchActionGap;
        width: $searchActionWidth;
        height: $searchActionHeight;
        line-height: $searchActionHeight;
        color: $searchActionColor; 
    }
    &.active{
        .#{$preIconFont},
        .actionBtn{
            display: block;
        }
        input[type="search"]{
            text-align: left;
            text-indent: $searchInputTextGap;   
        }
        input[type="search"]::-webkit-input-placeholder{
            opacity: 0; 
        }
    }
}

.textareaView{
    position: relative;
    color: $colorPlaceholder;
    textarea{
        width: 100%;
        padding: pxToRem(10px);
        font-size: $font13;
        @include border(border,1px,solid,$colorBorder);
        -webkit-appearance:none;
        resize: none;
        border-radius: pxToRem(3px);
        outline: none;
        min-height: pxToRem(70px);
        box-shadow:inset 0 1px 2px -1px rgba(black,.25) ;
    }
    .tips{
        position: absolute;
        bottom: pxToRem(7px);
        right: pxToRem(10px);
        font-size: $font11;
        .#{$button}-round{
            vertical-align: middle;
            font-size: (8/16)*1rem;
        }
    }
}
.formList{
    box-shadow: 0 1px 2px -1px rgba(black,0.1);
    width: 100%;
    .item{
        @include flexContent(row,nowrap,center,center);
        @include border(border-top,1px,solid,$colorBorder);
        font-size: $font17;
        color:$colorText;
        height: pxToRem(46px);
        line-height: pxToRem(46px);
        box-sizing:border-box;
        .title{
            width: pxToRem(80px);
            text-align: right;
            span{
                color: $colorWarn;
                vertical-align: middle;
            }
        }
        .value{
            @include flexItem;
            input{
                width:100%;
                padding-left:pxToRem(8px);
                font-size: $font17;
                border:none;
            }
        }
        .tips{
            flex:none;
            color:$colorSubText;
            font-size: $font17;
            .#{$preIconFont}{
                font-size: 0.9rem;
            }
        }
    }
}