/**
 * icon font
 */
 /*Font Name*/
$fontFamilyName:"cocofont";
$fontFilePath: $fontFilePath;
$preIconFont : $preIconFont;

@font-face {
    font-family: '#{$fontFamilyName}';
    src: url('#{$fontFilePath}.woff2') format('woff2'),
         url('#{$fontFilePath}.woff') format('woff'),
         url('#{$fontFilePath}.svg') format('svg'),
         url('#{$fontFilePath}.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.#{$preIconFont}{
    font-family: '#{$fontFamilyName}';
    display:inline-block;
    -webkit-font-smoothing:antialiased;
}

.#{$preIconFont}-add{
    &::before{content:"\EA01";}
}
.#{$preIconFont}-alubums-off{
    &::before{content:"\EA02";}
}
.#{$preIconFont}-back{
    &::before{content:"\EA03";}
}
.#{$preIconFont}-cloud-off{
    &::before{content:"\EA04";}
}
.#{$preIconFont}-next{
    &::before{content:"\EA05";}
}
.#{$preIconFont}-stop{
    &::before{content:"\EA06";}
}
.#{$preIconFont}-world-off{
    &::before{content:"\EA07";}
}
.#{$preIconFont}-check{
    &::before{content:"\EA08";}
}
.#{$preIconFont}-search{
    &::before{content:"\EA09";}
}
.#{$preIconFont}-action{
    &::before{content:"\EA0A";}
}
.#{$preIconFont}-bookmarks{
    &::before{content:"\EA0B";}
}
.#{$preIconFont}-camera{
    &::before{content:"\EA0C";}
}
.#{$preIconFont}-compose{
    &::before{content:"\EA0D";}
}
.#{$preIconFont}-fast-forward{
    &::before{content:"\EA0E";}
}
.#{$preIconFont}-organize{
    &::before{content:"\EA0F";}
}
.#{$preIconFont}-page{
    &::before{content:"\EA10";}
}
.#{$preIconFont}-pause{
    &::before{content:"\EA11";}
}
.#{$preIconFont}-play{
    &::before{content:"\EA12";}
}
.#{$preIconFont}-prev{
    &::before{content:"\EA13";}
}
.#{$preIconFont}-refresh{
    &::before{content:"\EA14";}
}
.#{$preIconFont}-reply{
    &::before{content:"\EA15";}
}
.#{$preIconFont}-rewind{
    &::before{content:"\EA16";}
}
.#{$preIconFont}-trash{
    &::before{content:"\EA17";}
}
.#{$preIconFont}-wishlist{
    &::before{content:"\EA18";}
}