/**
 * icon font
 */
 /*Font Name*/
$fontFamilyName:"cocofont";
$fontFilePath: $fontFilePath;
$preIconFont : $preIconFont;

@font-face {
    font-family: '#{$fontFamilyName}';
    src: url('#{$fontFilePath}.woff2') format('woff2'),
         url('#{$fontFilePath}.woff') format('woff'),
         url('#{$fontFilePath}.svg') format('svg'),
         url('#{$fontFilePath}.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.#{$preIconFont}{
    font-family: '#{$fontFamilyName}';
    display:inline-block;
    -webkit-font-smoothing:antialiased;
}

.#{$preIconFont}Add{
    &::before{content:"\EA01";}
}
.#{$preIconFont}AlubumsOff{
    &::before{content:"\EA02";}
}
.#{$preIconFont}Back{
    &::before{content:"\EA03";}
}
.#{$preIconFont}CloudOff{
    &::before{content:"\EA04";}
}
.#{$preIconFont}Next{
    &::before{content:"\EA05";}
}
.#{$preIconFont}Stop{
    &::before{content:"\EA06";}
}
.#{$preIconFont}WorldOff{
    &::before{content:"\EA07";}
}
.#{$preIconFont}Check{
    &::before{content:"\EA08";}
}
.#{$preIconFont}Search{
    &::before{content:"\EA09";}
}