/*媒体查询各个设备比例值*/
$iPlus : 1.06;
$iPad : 1.25;

@mixin device($value){
  @if $value == iPlus {
    @media screen and (min-width: 414px) and (max-width: 767px){ 
        @content; 
    }
  }@else if $value == iPad {
    @media screen and (min-width: 768px){ 
        @content; 
    }
  }
}

@include device(iPlus){
    html{
        font-size: $iPlus*$fontSize;
    }
}
@include device(iPad){
    html{
        font-size: $iPad*$fontSize;
    }
}