$dotWidth: pxToRem(8px);
$dotHeight: pxToRem(8px);
$dotBgColor: rgba(255,255,255,0.6);
$dotCurBgColor: rgba(255,255,255,1);
$dotGap: pxToRem(4px);

.dotPage {
    li{
        display: inline-block;
        width: $dotWidth;
        height: $dotHeight;
        line-height: $dotHeight;
        border-radius: 50%;
        background: $dotBgColor;
        box-shadow: 0 0 1px rgba(0,0,0,0.1);
        margin:0 $dotGap;
        text-indent: -99999px;
        &.cur{
            background: $dotCurBgColor;
        }
    }
}