@import "reset"; //normalize
@import "config"; //默认变量
@import "mediaQueries"; //媒体查询
@import "mixin"; //复合样式

html{
    background:$colorBg;
    font-size:$fontSize;
}
.mainWrap{
	margin-top:$mainGap;
    margin-bottom:$tabBarHeight;
}