.actionSheetWrap{
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $zIndexOverlay;
    -webkit-backdrop-filter: blur(10px);
    @include animation-down-in(down,100%);
    .overlay{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: $zIndexOverlay;
        background: $colorOverlay;
    }
    .actions{
        .content{
            padding: pxToRem(13px) pxToRem(15px);
            text-align: center;
            @include border(border-bottom,1px,solid,$colorBorder);
            h2{
                font-size: $font13;
                color: $colorText;
            }
            p{
                margin-top: pxToRem(6px);
                font-size: $font13;
                color: $colorSubText;
            }
        }
    }
    .cancaelBtn{margin: pxToRem(8px) 0;}
    .actions,
    .cancaelBtn{
        width: pxToRem(355px);
        position: relative;
        background: #fff;
        border-radius: 13px;
        overflow: hidden;
        .btnGroup{
            @include flexContent(column,nowrap,center,center);
            li{
                @include border(border-bottom,1px,solid,$colorBorder);
                @include flexItem;
                width: 100%;
                height: pxToRem(57px);
                line-height: pxToRem(57px);
                &:last-child{
                    border: none;
                }
                a{
                    display: block;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    font-size: $font20;
                    color: $colorLink; 
                }
            }
            .cur{
                a{
                    color: $colorWarn;
                }  
            }
        }
    }
    &.active{
        @include flexContent(column,nowrap,center,center);
    }
    .actionSheet{
        z-index: $zIndexContent;   
    }
}