/**
 * panel
 */
$listGap: pxToRem(20px);

.normalPanel{
    padding: $listGap;
    box-shadow: 0 1px 2px -1px rgba(black,0.1);
    @include border(border-bottom,1px,solid,$colorBorder);
    background:$colorBgPanel;
    h3{
        font-size: pxToRem(22px);
        color:$colorText;
    }
    .info{
        margin-top: $gap;
    }
}

.baseList{
    box-shadow: 0 1px 2px -1px rgba(black,0.1);
    @include border(border-bottom,1px,solid,$colorBorder);
    h2{
        padding-left: pxToRem(15px);
        height: pxToRem(28px);
        line-height: pxToRem(28px);
        font-size: $font16;
        color: $colorText;
    }
    .listWrap{
        background:$colorBgPanel;
        .item{
            @include flexContent(row,nowrap,center,center);
            padding: 0 pxToRem(15px);
            height: pxToRem(45px);
            @include border(border-bottom,1px,solid,$colorBorder);
            &:last-child{
                border:none;
            }
            .info{
                @include flexItem;
                a{
                    display: block;
                }
            }
            .attr{
                flex:none;
                color: $colorSubText;
                .#{$preIconFont}{
                font-size:pxToRem(16px);
                }
                a{
                    display:block;
                    color: $colorText;
                }
            }
        }
    } 
}