.imgList{
    box-shadow: 0 1px 2px -1px rgba(black,0.1);
    @include border(border-bottom,1px,solid,$colorBorder);
    h2{
        padding-top: pxToRem(35px);
        padding-left: pxToRem(15px);
        height: pxToRem(20px);
        vertical-align: top;
        font-size: $font16;
        color: $colorText;
        .sub{
            font-size: $font14;
            color: $colorSubText;
        }
    } 
    .listWrap{
        padding-bottom: pxToRem(15px); 
        box-sizing: border-box;
        background:$colorBgPanel;
        @include flexContent(row,wrap,flex-start,center);
        .item{
            padding-top: pxToRem(15px); 
        }
        &.twoPart{
            .item{
                width:50%; 
            }    
        }
        &.threePart{
            .item{
                width:33.33333%; 
            }    
        }
        &.fourPart{
           .item{
                width:25%; 
            } 
        }
        .img{
            margin: 0 auto;
            width:  pxToRem(90px);
            height: pxToRem(90px);
            img{
                width: 100%;
                height: 100%;
            }
        }
        .info{
            text-align: center;
            font-size: $font14;
            line-height: pxToRem(20px);
            a{
                display: block;
                color: $colorText;    
            }
            .subtitle{
                font-size: $font12;
                color: $colorSubText;  
            }
        }
    }  
}
