$navigationHeight:     $barHeight !default;
$navigationBgColor:    $colorBarBg !default;
$navigationTextColor:  $colorText !default;

.navigation{
    position: fixed;
    left: 0;
    top: 0;
    right:0;
    height: $navigationHeight;
    background-color: $navigationBgColor;
    color: $navigationTextColor;
    z-index: $zIndexHeader;
    -webkit-backdrop-filter:blur(10px);
    @include border(border-bottom,1px,solid,$colorBorder);

    .navLeft,
    .navRight{
        position: absolute;
        top: 0;
        z-index: $zIndexNavAction;
        height: $navigationHeight;
        line-height: $navigationHeight;
    }
    .navLeft{
        width: pxToRem(50px);
        left: pxToRem(8px);
    }
    .navRight{
        right: pxToRem(8px);
        text-align: right;
    }
    .navLeft a,
    .navRight a{
        display: inline-block;
        font-size: pxToRem(17px);
        color: $colorLink; 
    }
    .navLeft .iconFont,
    .navRight .iconFont{
        vertical-align: top;
        font-size: pxToRem(16px);
        color: $colorLink;
    }
    .title{
        @include flexContent(column,nowrap,center,center);
        position: absolute;
        height: $navigationHeight;
        width: 100%;
        text-align: center;
        h2,
        h3{
            max-width: pxToRem(275px);
            @extend %textEllipsis;  
        }
        h2{
            color: $colorText;
            font-size: $font17;
        }
        h3{
            color: $colorSubText;
            font-size: $font13;
        }
    }
    .navTab{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: pxToRem(152px);
    }
}