$tabbarHeight:       $tabBarHeight !default;
$tabbarBgColor:      $colorBarBg !default;
$tabbarTextColor:    $colorSubText !default;

.tabbar ul{
    @include flexContent(row,nowrap,space-between,center);
    position: fixed;
    left: 0;
    bottom: 0;
    right:0;
    height: $tabbarHeight;
    background-color: $tabbarBgColor;
    color: $tabbarTextColor;
    z-index: $zIndexHeader;
    @include border(border-top,1px,solid,$colorBorder);
    li{
        @include flexItem;
        a{
            display: block;
            width: 100%;
            height: 100%;
            text-align: center;
            font-size:pxToRem(10px);
            color:$colorSubText; 
        }
        .#{$preIconFont}{
           font-size:pxToRem(18px); 
           margin-bottom:pxToRem(5px);
        }
        span{display:block;}
    }
    .cur{
        a,
        .#{$preIconFont}{
            color:$colorLink;
        }  
    }
}
